{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% set heading = "What is your position in your organisation?" %}
{% block pageTitle %}{{heading}} - Declaration - Apply for and manage your infrastructure project{% endblock %}
{% block pageHeading %}{% endblock %}
{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate>
                {{ govukInput({
                    label: {
                        text: heading,
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    id: "position-in-organisation",
                    name: "positionInOrganisation",
                    value: positionInOrganisation,
                    errorMessage: errors.positionInOrganisation and {
                        text: errors.positionInOrganisation.msg
                    }
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
