{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageHeading %}{% endblock %}
{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="" method="post" novalidate>
                {{ govukInput({
                    label: {
                        text: "What is your organisation?",
                        classes: "govuk-label--l",
                        isPageHeading: true
                    },
                    id: "declaration-organisation",
                    name: "declarationOrganisation",
                    value: declarationOrganisation,
                    errorMessage: errors.declarationOrganisation and {
                        text: errors.declarationOrganisation.msg
                    }
                }) }}

                {{ govukButton({
                    text: "Continue",
                    type: "submit"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}