{% extends "components/task-list/index.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set title = "Check your Answers - " + journeyTitle + " - DCO Portal" %}

{% block beforeContent %}
    {% if pageCaption %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-l govuk-!-margin-top-8">
                    {{ pageCaption }}
                 </span>
            </div>
        </div>
    {% endif %}
{% endblock beforeContent %}

{% block beforeTaskList %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-3">
            <h1 class="govuk-heading-l">
                {{ pageHeading | default('Check your answers') }}
            </h1>
        </div>
    </div>
{% endblock %}

{% if summaryWarningMessage %}
    {% set beforeSubmitButton = govukWarningText({
        text: summaryWarningMessage
    }) %}
{% endif %}
