trigger: none

pr:
  branches:
    include:
      - '*'

pool:
  vmImage: ubuntu-latest

variables:
  NODE_VERSION: '20'

steps:
  - checkout: self
    clean: true

  - task: NodeTool@0
    inputs:
      versionSpec: $(NODE_VERSION)
    displayName: 'Install Node.js'

  - script: |
      docker version
      docker compose version
    displayName: 'Verify Docker'

  - script: |
      make setup
    displayName: 'Setup environment (Docker + DB)'

  - script: |
      make headless
    displayName: 'Run E2E tests'
