$font-family: arial, helvetica, sans-serif;
@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@use './components/pins-table';
@use './components/pins-header';
@use './components/pins-navigation';
@use './components/pins-footer';

// set font-family for any autocomplete menu items
/* stylelint-disable-next-line selector-class-pattern */
.autocomplete__menu {
	font-family: $font-family;
}

/* stylelint-disable-next-line selector-class-pattern */
.uploading-bar--hidden {
	display: none;
	margin-bottom: 1em;
}

/* stylelint-disable-next-line selector-class-pattern */
.uploading-bar--visible {
	display: block;
	margin-bottom: 1em;
}
