$font-family: arial, helvetica, sans-serif;
@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@use './components/pins-table.scss';
@use './components/pins-header.scss';
@use './components/pins-navigation.scss';
@use './components/pins-footer.scss';

// set font-family for any autocomplete menu items
.autocomplete__menu {
	font-family: $font-family;
}

.uploading-bar--hidden {
	display: none;
	margin-bottom: 1em;
}
.uploading-bar--visible {
	display: block;
	margin-bottom: 1em;
}
