@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;
@use './brand/pins-colors' as brand;

.pins-header {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: govuk.$govuk-font-family;
	color: govuk.govuk-colour('white');
	background-color: brand.$pins-grey-100;
	border-bottom: 10px solid brand.$pins-green-200;

	&__container {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		border-bottom: 0;
	}

	.govuk-header__logotype {
		position: static;
		top: 0;
	}

	&__logo {
		display: block;
		width: auto;
		height: 32px;
	}

	.govuk-header__content {
		align-self: center;
	}

	.govuk-header__service-name {
		margin-bottom: 0;
	}
}
