<p class="govuk-body">
	You must submit an environmental statement where the project requires an environmental impact assessment (EIA). An EIA
	identifies and assesses the significant effects likely to arise from a project.
</p>

<p class="govuk-body">
	To see if the project requires an EIA, you should refer to
	<a href="https://www.legislation.gov.uk/uksi/2017/572/contents"
		>The Infrastructure Planning (Environmental Impact Assessment) Regulations 2017 (opens in new tab)</a
	>. Where the transitional provisions apply, you should refer to
	<a href="https://www.legislation.gov.uk/uksi/2009/2263/contents/made"
		>The Infrastructure Planning (Environmental Impact Assessment) Regulations 2009 (opens in new tab)</a
	>.
</p>

<h2 class="govuk-heading-m">Does the project require an environmental statement?</h2>
