<p class="govuk-body">
	The Secretary of State or the relevant authority will identify the consultation bodies that you need to notify. These
	could include local authorities, the Marine Management Organisation, the Forestry Commission, or the Health and Safety
	Executive, depending on the type of project.
</p>

<p class="govuk-body">You must send a copy of the notice to these consultation bodies in addition to publishing it.</p>

<h2 class="govuk-heading-m">Have you notified the consultation bodies about the project?</h2>
