<p class="govuk-body">
	<a href="https://www.legislation.gov.uk/uksi/2017/572/regulation/11"
		>Regulation 11(1)(c) of the Infrastructure Planning (Environmental Impact Assessment) Regulations 2017 (opens in a
		new tab)</a
	>
	requires the Secretary of State or the relevant authority to notify you of any people they consider:
</p>

<ul>
	<li class="govuk-body">likely to be affected by, or have interest in, the project, or</li>
	<li class="govuk-body">unlikely to become aware of the project by the standard public notice</li>
</ul>

<p class="govuk-body">You must send a copy of the notice to any such people.</p>

<h2 class="govuk-heading-m">Have you notified any other people under Regulation 11(1)(c) about the project?</h2>
