<p class="govuk-body">
	You should refer to the sections in
	<a
		class="govuk-link govuk-link--no-visited-state"
		href="https://www.legislation.gov.uk/ukpga/2008/29/part/3"
		target="_blank"
		rel="noreferrer"
		>Part 3 of the Planning Act 2008 (opens in new tab)</a
	>
	that outline why the project needs development consent. If it's relevant, you should describe the project's capacity
	(Part 3 lists the thresholds). For harbour facilities, you should include the appropriate equation from section 24(5).
</p>

<h2 class="govuk-heading-m">Why does the project need development consent?</h2>
