{% extends "views/layouts/main.njk" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      <h2 class="govuk-heading-m">
        1. Your documents
      </h2>

      {{ govukTaskList({
        idPrefix: "document-categories",
        items: taskListItems.yourDocuments
      }) }}

      <h2 class="govuk-heading-m">
        2. Your Application
      </h2>

      {{ govukTaskList({
        idPrefix: "your-application",
        items: taskListItems.yourApplication
      }) }}
    </div>
  </div>
{% endblock %}