{% extends "views/layouts/main.njk" %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}

{% block pageHeading %}{{ pageTitle }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      <h2 class="govuk-heading-m">
        1. Your documents
      </h2>

      {{ govukTaskList({
        idPrefix: "document-categories",
        items: taskListItems
      }) }}
    </div>
  </div>
{% endblock %}