{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      {% if showManageUsersLink %}
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/manage-users">Manage users</a></p>
      {% endif %}

      <h2 class="govuk-heading-m">
        1. Your documents
      </h2>

      {{ govukTaskList({
        idPrefix: "document-categories",
        items: taskListItems.yourDocuments
      }) }}

      <h2 class="govuk-heading-m">
        2. Your Application
      </h2>

      {{ govukTaskList({
        idPrefix: "your-application",
        items: taskListItems.yourApplication
      }) }}

      {% if not hasCaseBeenSubmitted %}
          {{ submissionText | safe }}
          {{ govukWarningText({
              text: warningText,
              iconFallbackText: "Warning"
          }) }}
          {{ submissionInformation | safe }}
          {% if enableSubmissionButton %}
            <form action="" method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ _csrf }}">
                {{ govukButton({
                    text: "Submit",
                    type: "submit"
                }) }}
            </form>
          {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}