<p class="govuk-body">
	You must submit an environmental statement where the project requires an environmental impact assessment (EIA). An EIA identifies and assesses the significant effects likely to arise from a project.
</p>

<p class="govuk-body">
    To see if the project requires an EIA, you should refer to The Infrastructure Planning (Environmental Impact Assessment) Regulations 2017 (opens in new tab).
    Where the transitional provisions apply, you should refer to The Infrastructure Planning (Environmental Impact Assessment) Regulations 2009 (opens in new tab).
</p>

<h2 class="govuk-heading-m">Does the project require an environmental statement?</h2>